@model Veterinaria.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}



<div class="card text-center col-md-12 bg-white">
    <div class="card-header bg-info ">
        Registro
    </div>
    <div class="card-body ">
        <h6 class="card-title">Registra tus datos</h6>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2">Correo</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Contraseña</label>
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Confirmar contraseña</label>
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <img class="" src="~/Content/img/92112256-las-espadas-avatares-ilustración-vectorial-ilustración-vectorial-aislado-sobre-fondo-blanco-ilustración-sagra.jpg" alt="Alternate Text" width="100" />
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Registrar" />
                </div>
            </div>
        }
    </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
